<div class="content">
    <div class="ini">
        <h1>{{nombre}}</h1><br><br>
        <p>Bienvenidos a nuestra tienda!</p>
        <p>Somos especialistas en seguridad profesional.</p>
        <p>Contamos con tecnología de vanguardia.</p>
        <p>Acceda a nuestra <a href="/static/products">Lista de Productos</a> para conocer todas las opciones disponibles en mercadería.</p>
        <p><a href="/static/login">Inicia sesión</a> para poder finalizar la Compra.</p>
    </div>
</div>

