<h1>{{nombre}}</h1>
<div>
    <p id="chat"><input type="email" id="chatName" placeholder="Email" required>
    </p>
</div>
<div id="authorizedChat">
    <input type="text" id="chatField">
    <button id="chatSend"> Send </button>
</div>
<div>
    <p id="chatMessages"></p>
</div>

