<div class="content">
    <div class="ini">
        <h1>{{nombre}}</h1><br><br>
        <p>Muchas Gracias por tu compra {{user.first_name}}!</p>
        <p class="purchaseResult1"></p>
        <p class="purchaseResult2"></p>
        <p class="purchaseResult3"></p>
        <p>Al confirmar el pago, recibirás un correo con el detalle de tu compra.</p>
        <p>Inmediatamente un asesor se comunicará para coordinar retiro en la tienda o envíos.</p>
        <p>Acceso a <a href="/static/pay-gateway">Métodos de Pago</a> en línea o redes de cobranza.</p>
        <p>Volver al <a href="/static">Inicio</a> de la página.</p>
    </div>
</div>