<div class="navbar">
    <nav>
        <a href="/static">Home</a>
        <a href="/static/realtimeproducts">Realtimeproducts</a>
        <a href="/static/products">Products</a>
        <a href="/static/register">Register</a>
        <a href="/static/login">Login</a>
        <a href="/static/messages">Messages</a>
    </nav>
</div>