<div class="navbar">
    <nav>
        <a href="/static">Inicio</a>
        <a href="/static/products">Lista de Productos</a>
        <a href="/static/register">Registro</a>
        <a href="/static/login">Inicio de Sesión</a>
        <a href="/static/messages">Chat en vivo</a>
    </nav>
</div>